<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:label="Toy Kingdom"
    tools:replace="android:label">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppBanDoChoi"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.QuanLyDanhGiaActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.QuanLySanPhamActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DanhGiaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QuanLyDoanhThuActivity"
            android:exported="true"></activity>
        <activity
            android:name=".activity.TestActivity"
            android:exported="true" />
        <activity
            android:name=".activity.QuanLyDonHangActivity"
            android:exported="true" />
        <activity
            android:name=".activity.UpdateImageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ThongBaoDatHangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateProfileActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ThemSPActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QuanLyActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.XemDonActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ChiTietDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ResetPassActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GioHangActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ChiTietActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DanhSachSPActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DangNhapActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DangKyActivity"
            android:exported="true" />
        <activity
            android:name=".activity.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ThanhToanActivity"
            android:exported="true" />
    </application>

</manifest>